.student-profile-wrapper {

	.user-registration .ur-frontend-form {
		border: 0 solid #ebf1f6;
		border-radius: 7px;

		&.login {
			padding: 40px;
		}

		.user-registration-profile-header {
			margin-bottom: 32px;
		}

		.user-registration-profile-fields {

			p {
				display: block;
				width: 100%;

				input[type="submit"] {
					width: fit-content;
					display: table;
					margin: 16px auto 0;
					background: var(--primary-color);
					color: #fff;
					border: none;
					border-radius: 7px;
				}
			}
		}
	}
}
